@using EntityLayer.Concrete
@model List<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Yazar Listesi</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/MasterTheme/deskapp2-master/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/MasterTheme/deskapp2-master/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/MasterTheme/deskapp2-master/vendors/styles/style.css">

</head>
<body>

    <div style="padding: 0em 1.7em 0em 0em;" class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="container pd-0">
                    <div class="page-header" style="background-color: white ">
                        <div class="row ">
                            <div class="col-md-12 col-sm-11">
                                <div style="display:flex" class="title">
                                    <div style="padding-right: 0.8em;">
                                        <i data-feather="users" width="20"></i>
                                    </div>
                                    <h5 style="color:black;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">@ViewBag.Count Adet Yazar Mevcut</h5>
                                    <a style="font-family:monospace;padding-left:36em;color:blue" class=" h5" href="/Writer/AddWriter">Yeni Yazar Girişi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-directory-list">
                        <ul class="row">
                            @foreach (var x in Model)
                            {

                                <li class="col-xl-4 col-lg-4 col-md-6 col-sm-12" >
                                    <div style="max-height:450px;" class="contact-directory-box">
                                        <div class="contact-dire-info text-center">
                                            <div class="contact-avatar">
                                                <span>
                                                    <img src="@x.WriterImage" alt="">
                                                </span>
                                            </div>
                                            <div class="contact-name">

                                                <h4>@x.WriterName @x.WriterSurname</h4>
                                                <p>@x.WriterTel</p>
                                                <div class="work text-success"><i class="ion-android-mail"></i> @x.WriterMail</div>
                                            </div>
                                            <div class="contact-skill">
                                                <span class="badge badge-primary "></span>
                                            </div>
                                            <div style="max-height:50px" class="profile-sort-desc">
                                                @x.WriterAbout
                                            </div>
                                        </div>
                                        <div class="view-contact">
                                            <a href="/Writer/EditWriter/@x.WriterID">Düzenle</a>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- js -->
</body>

