@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div style="padding:0.5em 2em 0em 2em" class="form-group">
        <hr />
        @Html.Label("Kategori Adı")
        <div class="form-group position-relative has-icon-left">
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", @style = "max-width:30%", @placeholder = "Teknoloji , Müzik ..." })
            <div class="form-control-icon">
                <i data-feather="briefcase"></i>
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.CategoryName)
        <hr />
        @Html.Label("Kategori Açıklaması")
        <div class="form-group position-relative has-icon-left">
            @Html.TextAreaFor(x => x.CategoryDescription,
                      new
                      {
                          @class = "form-control",
                          @style = "max-width:30%;",
                          @placeholder = "Teknoloji tutkunlarının buluştuğu sayfa..."
                      })        @Html.ValidationMessageFor(x => x.CategoryDescription)            <div class="form-control-icon">
                        <i data-feather="more-horizontal"></i>
                    </div>
                </div>
                @Html.ValidationMessageFor(x => x.CategoryDescription)
                <hr />
                <button style="padding:0.5em 2em 0.5em 2em" class="btn btn-primary">Kaydet</button>
            </div>
}


