@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div style="padding:1em 2em 0em 2em;height:100%" class="form-group">
        <div class="form-group position-relative has-icon-left">
            @Html.TextBoxFor(x => x.CategoryID, new { @readonly = "readonly", @style = "max-width:6%;padding:0 1em 0 3em;", @class = "form-control  btn-outline-primary" })
            <div class="form-control-icon">
                <i data-feather="hash"></i>
            </div>
        </div>
        <hr />
        @Html.Label("Kategori Adı")
        <div class="form-group position-relative has-icon-left">
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", @style = "max-width:30%;", @placeholder = "Teknoloji , Müzik ..." })
            <div class="form-control-icon">
                <i data-feather="briefcase"></i>
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.CategoryName)
        <hr />

        @Html.Label("Kategori Açıklaması")
        <div class="form-group position-relative has-icon-left">
            @Html.TextAreaFor(x => x.CategoryDescription, new
            {
                @class = "form-control",
                @style = "max-width:30%;",
                @placeholder = "Teknoloji tutkunlarının buluştuğu sayfa..."
                      })        @Html.ValidationMessageFor(x => x.CategoryDescription)            <div class="form-control-icon">
                        <i data-feather="more-horizontal"></i>
                    </div>
                </div>

                <hr />
                <button style="padding:0.5em 9.65em 0.5em 9.65em" class="btn btn-primary">Kaydet</button>
            </div>
        }

