@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
</style>
<div style="padding:1em 1.5em 0em 1.5em">
    <div class="page-header" style="background-color:white; width: 100%; height: 60px; display: flex">
        <div style="display:flex">
            <div style="padding-top: -0em;padding-left:0.3em;font-weight:bold">
                <i style="color:black" data-feather="briefcase" width="20"></i>
            </div>
            <h5 style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 100; padding-left: 0.5em; padding-top: 0.1em;">@ViewBag.CategoryCount Adet Kategori Mevcut</h5>
        </div>
    </div>
    <div style="padding-top:0em" class="table-responsive">
        <table class="table table-hover" style="background-color:white;color:black">
            <tr class="table btn-outline-primary" style="text-align:center;">
                <th>#</th>
                <th style="min-width:8em;max-width:11em">Kategori</th>
                <th>Açıklama</th>
                <th>Durum</th>
                <th>Düzenleme</th>
            </tr>
            @foreach (var x in Model)
            {
                bool value = x.CategoryStatus;
                string color = "";
                switch (value)
                {

                    case true:
                        color = "text-success";
                        break;
                    case false:
                        color = "text-danger";
                        break;
                }
                <tr style="">
                    <th style="text-align:center;padding-top:1.9em">@x.CategoryID</th>
                    <td style="text-align:center">@x.CategoryName</td>
                    <td>@x.CategoryDescription</td>
                    <td class="@color" style="text-align:center;font-weight:600">@x.CategoryStatus</td>
                    <td style="text-align:center;width:30%">
                        <div>
                            <a style="padding:0.55em 2em 0.55em 2em" href="/AdminCategory/DeleteCategory/@x.CategoryID" class="btn btn-outline-danger">Sil</a>
                            <a href="/AdminCategory/EditCategory/@x.CategoryID" class="btn btn-outline-success">Güncelle</a>
                            <a class="btn btn-outline-info">Başlıklar</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <a href="/AdminCategory/AddCategory" class="btn btn-primary">Yeni Kategori Girişi</a>
    </div>

</div>
