@using PagedList
@using PagedList.Mvc
@using EntityLayer.Concrete
@model PagedList.IPagedList<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div style="padding:0.5em 2em 2em 2em" class="page-header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
        <div class="header-search">
            @using (Html.BeginForm("Index", "Heading", FormMethod.Post))
            {
                <div style="display:flex;padding:1.3em 5em 0em 16em" class="form-group mb-0">
                    <div style="display:flex;width:35%;padding-top:0.4em">
                        <h5 style="color: black; font-weight: 100; padding-left: 0.5em; padding-top: 0.1em;"><a class="text-primary">@ViewBag.HeadingCount</a> Adet Başlık Mevcut</h5>
                    </div>
                    <div style="display:flex;width:100%">
                        <input type="text" name="a" style="max-width:50%;height:35px;background-color:#ebebeb" class="form-control search-input" placeholder="Başlık Adı">
                        <input style="height:38px" type="submit" class="btn btn-primary" value="Ara" />
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<div style="padding:0em 1.5em 0em 1.5em">
    <div style="padding-top:0em" class="table-responsive">
        <table class="table table-hover" style="background-color:white;color:black;">
            <tr class="table btn-outline-primary" style="text-align:center;">
                <th>#</th>
                <th style="min-width:8em;max-width:11em">Başlık</th>
                <th>Durum</th>
                <th>Kategori</th>
                <th>Yazar</th>
                <th>Düzenleme</th>
            </tr>
            @foreach (var x in Model)
            {
                string cname = x.Category.CategoryName;
                switch (cname)
                {
                    case "Politika":
                        cname = "text-danger";
                        break;
                    case "Eğlence":
                        cname = "text-info";
                        break;
                    case "Ekonomi":
                        cname = "text-warning";
                        break;
                    case "Teknoloji":
                        cname = "text-primary";
                        break;
                    case "Sağlık":
                        cname = "text-success";
                        break;
                }
                string statu = "";
                string color = "";
                string buton = "";
                switch (x.HeadingStatus)
                {
                    case true:
                        color = "text-success";
                        statu = "Aktif";
                        buton = "Pasif Yap";
                        break;
                    case false:
                        color = "text-danger";
                        statu = "Pasif";
                        buton = "Aktif Yap";
                        break;
                }
                <tr class="text-" style="">
                    <th style="text-align:center;padding-top:1.9em">@x.HeadingID</th>
                    <td style="text-align:center"><a href="/Content/ContentByHeading/@x.HeadingID">@x.HeadingName</a></td>
                    <td style="text-align:center;font-weight:bolder" class="@color">@statu</td>
                    <td class="@cname">@x.Category.CategoryName</td>
                    <td class="" style="text-align: center; font-weight: bolder">@x.Writer.WriterName @x.Writer.WriterSurname</td>
                    <td style="text-align:center;width:31%">
                        <div>
                            <a href="/Heading/ChangeStatusHeading/@x.HeadingID" class="btn btn-outline-warning">@buton</a>
                            <a href="/Heading/EditHeading/@x.HeadingID" class="btn btn-outline-success">Güncelle</a>
                            <a href="/Heading/DeleteHeading/@x.HeadingID" class="xxx btn btn-outline-danger">Sil</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <div style="padding-bottom:2em">
            <a href="/Heading/AddHeading" class="btn btn-primary">Yeni Başlık Girişi</a>
        </div>
    </div>

</div>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }))

<script>
    $(document).ready(function () {
        $('.xxx').click(function (event) {
            event.preventDefault();

            const href = $(this).attr('href');

            swal({
                title: "Başlık Silinecek",
                text: "Silinen Başlık Geri Getirilemez",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Başlık Silindi", {
                            icon: "success",
                        })
                            .then(() => {
                                window.location.href = href;
                            });
                    } else {
                        swal("İşlem İptal Edildi");
                    }
                });
        });
    });
</script>