@using EntityLayer.Concrete
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="padding:1em 1.5em 0em 1.5em">
    <div class="page-header" style="background-color:white; width: 100%; height: 60px; display: flex">
        <div style="display:flex">
            <div style="padding-top: -0em;padding-left:0.3em;font-weight:bold">
                <i style="color:black" data-feather="briefcase" width="20"></i>
            </div>
            <h5 style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 100; padding-left: 0.5em; padding-top: 0.1em;">@ViewBag.HeadingCount Adet Başlık Mevcut</h5>
        </div>
    </div>
    <div style="padding-top:0em" class="table-responsive">
        <table class="table table-hover" style="background-color:white;color:black">
            <tr class="table btn-outline-primary" style="text-align:center;">
                <th>#</th>
                <th style="min-width:8em;max-width:11em">Başlık</th>
                <th>Tarihi</th>
                <th>Kategorisi</th>
                <th>Yazarı</th>
                <th>Düzenleme</th>
            </tr>
            @foreach (var x in Model)
            {
                string cname = x.Category.CategoryName;
                switch (cname)
                {
                    case "Politika":
                        cname = "text-danger";
                        break;
                    case "Eğlence":
                        cname = "text-info";
                        break;
                    case "Ekonomi":
                        cname = "text-warning";
                        break;
                    case "Teknoloji":
                        cname = "text-primary";
                        break;
                    case "Sağlık":
                        cname = "text-success";
                        break;

                }
                <tr class="text-" style="">
                    <th style="text-align:center;padding-top:1.9em">@x.HeadingID</th>
                    <td style="text-align:center">@x.HeadingName</td>
                    <td style="text-align:center">@x.HeadingDate</td>
                    <td class="@cname" style="font-weight: 600">@x.Category.CategoryName</td>
                    <td class="" style="text-align: center; font-weight: bolder">@x.Writer.WriterName</td>
                    <td style="text-align:center;width:30%">
                        <div>
                            <a style="padding:0.55em 2em 0.55em 2em" href="" class="btn btn-outline-danger">Sil</a>
                            <a href="" class="btn btn-outline-success">Güncelle</a>
                            <a class="btn btn-outline-info">İçerik</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <div style="padding-bottom:2em">
            <a href="/Heading/AddHeading" class="btn btn-primary">Yeni Başlık Girişi</a>
        </div>
    </div>

</div>