@model EntityLayer.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
    <div style="padding:0.5em 2em 0em 2em" class="form-group">
        <div class="form-group position-relative has-icon-left">
            @Html.TextBoxFor(x => x.HeadingID, new { @readonly = "readonly", @style = "max-width:6%;padding:0 1em 0 3em;", @class = "form-control  btn-outline-primary" })
            <div class="form-control-icon">
                <i data-feather="hash"></i>
            </div>
        </div>
        <hr />
        @Html.Label("Başlık Adı")
        <div class="form-group position-relative has-icon-left">
            @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control", @style = "max-width:30%" })
            <div class="form-control-icon">
                <i data-feather="align-justify"></i>
            </div>
        </div>
        @Html.ValidationMessageFor(x => x.HeadingName)
        <hr />
        @Html.Label("Kategorisi")
        <div class="form-group position-relative has-icon-left">
            @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Category, new { @class = "form-control", @style = "max-width:30%" })
            <div class="form-control-icon">
                <i data-feather="briefcase"></i>
            </div>
        </div>
        <hr />

        <button style="padding:0.5em 2em 0.5em 2em" class="btn btn-primary">Kaydet</button>
    </div>
    @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control", @style = "max-width:30%;opacity:0%" })
    @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control", @style = "max-width:30%;opacity:0%" })

}


