@using PagedList
@using PagedList.Mvc
@using EntityLayer.Concrete
@model PagedList.IPagedList<Heading>
@{
    ViewBag.Title = "MyHeadings";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div style="padding:1em 1.5em 0em 1.5em">

    <div class="page-header" style="background-color:white; width: 100%; height: 60px; display: flex">
        <div style="display:flex">
            <div style="padding-top: -0em;padding-left:0.3em;font-weight:bold">
                <i style="color:black" data-feather="briefcase" width="20"></i>
            </div>
            <h5 style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 100; padding-left: 0.5em; padding-top: 0.1em;">Başlıklarım</h5>
        </div>
    </div>
    <div style="padding-top:0em" class="table-responsive">
        <table class="table table-hover" style="background-color:white;color:black;">
            <tr class="table btn-outline-primary" style="text-align:center;">

                <th>#</th>
                <th style="min-width:8em;max-width:11em">Başlık</th>
                <th>Durum</th>
                <th>Kategori</th>
                <th>Yazar</th>
                <th>Düzenleme</th>
            </tr>
            @foreach (var x in Model)
            {
                string cname = x.Category.CategoryName;
                switch (cname)
                {
                    case "Politika":
                        cname = "text-danger";
                        break;
                    case "Eğlence":
                        cname = "text-info";
                        break;
                    case "Ekonomi":
                        cname = "text-warning";
                        break;
                    case "Teknoloji":
                        cname = "text-primary";
                        break;
                    case "Sağlık":
                        cname = "text-success";
                        break;
                }
                string statu = "";
                string color = "";
                string buton = "";
                switch (x.HeadingStatus)
                {
                    case true:
                        color = "text-primary";
                        statu = "Aktif Başlık";
                        buton = "Pasif Yap";
                        break;
                    case false:
                        color = "text-warning";
                        statu = "Pasif Başlık";
                        buton = "Aktif Yap";
                        break;
                }
                <tr class="text-" style="">
                    <th style="text-align:center;padding-top:1.9em">@x.HeadingID</th>
                    <td style="text-align:center">@x.HeadingName</td>
                    <td style="text-align:center;font-weight:bolder" class="@color">@statu</td>
                    <td class="@cname">@x.Category.CategoryName</td>
                    <td class="" style="text-align: center; font-weight: bolder">@x.Writer.WriterName @x.Writer.WriterSurname</td>
                    <td style="text-align:center;width:31%">
                        <div>
                            <a href="/WriterPanel/ChangeStatusHeading/@x.HeadingID" class="btn btn-outline-danger">@buton</a>
                            <a href="/WriterPanel/EditHeading/@x.HeadingID" class="btn btn-outline-success">Güncelle</a>
                            <a href="/Content/ContentByWriter/@x.HeadingID" class="btn btn-outline-info">İçerik</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <div style="padding-bottom:2em">
            <a href="/WriterPanel/NewHeading/" class="btn btn-primary">Yeni Başlık Girişi</a>
        </div>
    </div>

</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("MyHeadings", new { page }))
